<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ibaixin.chat"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
        <uses-sdk
        android:minSdkVersion="14" android:targetSdkVersion="21" />
    -->


    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 存储卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取存储卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问后台服务的权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    <!-- 获取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <!-- 添加录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 获取应用程序的运行状态的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 百度地图相关权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <!-- service 里面弹出对话框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 要使用相机,但不是必需的 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test for my app"
        android:targetPackage="net.ibaixin.chat" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="g8p76iCOjPOhOtt3yXKQHUci" />

        <!--
        <activity
            android:name="net.ibaixin.chat.activity.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ChatActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name="net.ibaixin.chat.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name="net.ibaixin.chat.activity.TestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ChatActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.MainActivity" />
        <activity
            android:name=".activity.RegistActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_regist" />
        <activity
            android:name=".activity.AddFriendActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_add_friend" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_friend_info" />
        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_chat"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.ChatActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ibaixin.chat.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NewFriendInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_new_friend_info" />
        <activity
            android:name=".activity.AlbumActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_album"
            android:theme="@style/AppTheme.AlbumActivity" />
        <activity
            android:name=".activity.PhotoPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_album"
            android:theme="@style/AppTheme.ImagePreviewActivity" />
        <activity
            android:name=".activity.FileExplorerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_file_explorer" />
        <activity
            android:name=".activity.AudioListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_audio" />
        <activity
            android:name=".activity.LocationShareActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_location_share" />
        <activity
            android:name=".activity.RemarkEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_edit_remark" />
        <activity
            android:name=".activity.ChatImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_edit_remark" />
        <activity
            android:name=".activity.LocationShowActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_show_location" />
        <activity
            android:name=".activity.MsgShowActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_show_msg" />
        <activity
            android:name=".activity.JokeReadMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_lable_joke" />
        <activity
            android:name=".activity.VideoReadMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/activity_lable_jokevideo" />
        <activity
            android:name=".activity.BackDoorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/backdoor_label" />
        <activity
            android:name=".activity.JokeAddActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/addjoke_label" />
        <activity
            android:name=".activity.VideoAddActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/addvideo_label" />
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_personal_info" />
        <activity
            android:name=".activity.ClipHeadIconActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_clip_head_icon" />
        <activity
            android:name=".activity.EditNicknameActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_lable_nickname" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/item_setting" />
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/about" />
        <activity
            android:name=".activity.GeoChoiceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/geo_choice" >
        </activity>
        <activity
            android:name=".activity.EditSignatureActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/geo_choice" />
        <!--
        <provider android:name="net.ibaixin.chat.provider.UserProvider"
            android:authorities="net.ibaixin.chat.provider.user;net.ibaixin.chat.provider.newFriend"
            android:exported="false" />
        
        <provider android:name="net.ibaixin.chat.provider.MsgProvider"
            android:authorities="net.ibaixin.chat.provider.msg"
            android:exported="false" />
        -->

        <provider
            android:name=".provider.PersonalProvider"
            android:authorities="net.ibaixin.chat.provider.personal"
            android:exported="false" />

        <service android:name=".service.CoreService" />

        <!-- 百度定位service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- QQ登录所需的activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104396884" /> <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 网络监听的广播 -->
        <receiver android:name=".receiver.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="net.ibaixin.chat.receiver.ACTION_CHECK_NETWORK" />
            </intent-filter>
        </receiver>

        <!-- 阿里妈妈推广配置 开始 -->
        <!--
        <activity
	        android:name="com.alimama.mobile.sdk.shell.AlimamaWall"
	        android:configChanges="keyboard|orientation"
	        android:hardwareAccelerated="true"
	        android:launchMode="singleTask"
	        android:screenOrientation="portrait" />

        <activity
            android:name="com.alimama.mobile.sdk.shell.AlimamaDetail"
            android:configChanges="keyboard|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name="com.alimama.mobile.sdk.shell.TaeLoginWebView">
            <intent-filter>
                <action android:name="COM_TAOBAO_TAE_SDK_TRADE_WEB_VIEW_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.alimama.mobile.sdk.shell.DownloadingService">
            <intent-filter>
                <action android:name="com.alimama.mobile.sdk.download.action" />
            </intent-filter>
        </service>
        -->
        <!-- 阿里妈妈推广配置 结束 -->

        <activity android:name=".activity.ChatChoseActivity" >
        </activity>
    </application>

</manifest>
